@font-face {
	font-family: 'terryrobb';
	src:url('../fonts/terryrobb.eot');
	src:url('../fonts/terryrobb.eot?#iefix') format('embedded-opentype'),
		url('../fonts/terryrobb.woff') format('woff'),
		url('../fonts/terryrobb.ttf') format('truetype'),
		url('../fonts/terryrobb.svg#terryrobb') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'terryrobb';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-music, .icon-envelope, .icon-search, .icon-film, .icon-th-list, .icon-signal, .icon-download-alt, .icon-headphones, .icon-camera, .icon-map-marker, .icon-camera-retro, .icon-comment, .icon-linkedin-sign, .icon-rss, .icon-github, .icon-link, .icon-google-plus-sign, .icon-facebook-sign, .icon-twitter-sign, .icon-desktop, .icon-laptop, .icon-quill, .icon-camera-2, .icon-film-2, .icon-camera-3, .icon-tag, .icon-tags, .icon-equalizer, .icon-mug, .icon-link-2, .icon-happy, .icon-facebook, .icon-google-plus, .icon-twitter, .icon-twitter-2, .icon-youtube, .icon-youtube-2, .icon-github-2, .icon-tumblr, .icon-tumblr-2, .icon-css3, .icon-html5, .icon-info-sign, .icon-lightbulb, .icon-home, .icon-briefcase {
	font-family: 'terryrobb';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-music:before {
	content: "\f001";
}
.icon-envelope:before {
	content: "\f003";
}
.icon-search:before {
	content: "\f002";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-signal:before {
	content: "\f012";
}
.icon-download-alt:before {
	content: "\f019";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-camera:before {
	content: "\f030";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-camera-retro:before {
	content: "\f083";
}
.icon-comment:before {
	content: "\f075";
}
.icon-linkedin-sign:before {
	content: "\f08c";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-github:before {
	content: "\f09b";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-google-plus-sign:before {
	content: "\f0d4";
}
.icon-facebook-sign:before {
	content: "\f082";
}
.icon-twitter-sign:before {
	content: "\f081";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-quill:before {
	content: "\e000";
}
.icon-camera-2:before {
	content: "\e001";
}
.icon-film-2:before {
	content: "\e002";
}
.icon-camera-3:before {
	content: "\e003";
}
.icon-tag:before {
	content: "\e004";
}
.icon-tags:before {
	content: "\e005";
}
.icon-equalizer:before {
	content: "\e007";
}
.icon-mug:before {
	content: "\e008";
}
.icon-link-2:before {
	content: "\e009";
}
.icon-happy:before {
	content: "\e00a";
}
.icon-facebook:before {
	content: "\e00b";
}
.icon-google-plus:before {
	content: "\e00c";
}
.icon-twitter:before {
	content: "\e00d";
}
.icon-twitter-2:before {
	content: "\e00e";
}
.icon-youtube:before {
	content: "\e00f";
}
.icon-youtube-2:before {
	content: "\e010";
}
.icon-github-2:before {
	content: "\e011";
}
.icon-tumblr:before {
	content: "\e012";
}
.icon-tumblr-2:before {
	content: "\e013";
}
.icon-css3:before {
	content: "\e014";
}
.icon-html5:before {
	content: "\e015";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-lightbulb:before {
	content: "\f0eb";
}
.icon-home:before {
	content: "\e006";
}
.icon-briefcase:before {
	content: "\e016";
}
