* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chromeframe {position: absolute; top: 0;}
body {font: 13px Helmet, Freesans, sans-serif;}
body, select, input, textarea {color: #333;}
a {color: #03f;}
a:hover {color: #69f;}
::-moz-selection{background: rgba(0,0,0,0.5); color: #fff; text-shadow: none;}
::selection {background: rgba(0,0,0,0.5); color: #fff; text-shadow: none;} 
a:link {-webkit-tap-highlight-color: rgba(0,0,0,0.5);} 
ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* Print styles!
-------------------------------------------------------------------------------*/
@media print {}

/* End HTML5 Reset base
-------------------------------------------------------------------------------*/
@media only screen and (min-width : 1920px) {
	body{
        -webkit-background-size: contain;
           -moz-background-size: contain;
             -o-background-size: contain;
                background-size: contain;
	}
}
@media screen and (max-width: 767px) {
    body{
        background-attachment:fixed;
        background-repeat: repeat-y !important;
        width: 100%;
        overflow: hidden;
    }
    body.blog{
        background-repeat: no-repeat !important;
        background-attachment: scroll;
    }
    body header{
        height: auto;
        width: 320px;

        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
           -moz-border-radius-bottomright: 5px;
           -moz-border-radius-bottomleft: 5px;
         border-bottom-right-radius: 5px;
         border-bottom-left-radius: 5px;
    }
    body header .innerHeader{
        width: 100%;
        padding: 0;
    }
    div.mainTitle{
        position: inherit;
    }
    div.mainTitle h1 a{ display: none; }
    body header nav{ float: none; }
    body header nav ul{
        margin: 0 auto;
        width: 316px;
    }
    body header nav ul li{ padding: 0; }
    #magic-line{ display: none; }
    body header nav ul li a span{ display: none; }
    body header nav ul li a i{
        color: #ccc;
        display: inline-block;
        font-size: 35px;
        margin: 9px;
        padding: 5px;
    }
    body header i.icon-envelope{
        margin: 0; margin-left: 2%;
        padding: 5px 0 5px;
    }
    body header li.current_page_item i{ color: #fff; }
    div.wrapper{ width: 100%; }
    body .homeFirst .left{
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    body .homeFirst .left span:first-of-type{ font-size: 59px; }
    body .homeFirst .left span{ font-size: 51px; }
    body .homeFirst{ margin: 40px auto; }
    body .homeFirst .right p{
        background-color: rgba(0,0,0,0.5);
        margin: 0 auto;
        padding: 5px;
        width: 98%;
    }
    body .homeFirst .right p span{ 
        background-color: transparent;
        display: inline;
        font-weight: 300;
        line-height: 40px;
        margin: 0;
        padding: 1px;
        width: 100%;
    }
    body .homeFirst div.sep{
        height: auto;
        width: 100%;
    }
    body .ribbonCTA:before, body .ribbonCTA:after, body .ribbonCTA span:before, body .ribbonCTA span:after{ display: none;}
    body a.ribbonCTA{
        font-size: 40px;
        height: auto;
        margin: 10px auto;
        width: 100%;
        max-width: 400px;
    }
    body .homeSecond .oneThird img{
        max-width: 355px;
        position: inherit;
        top: 0; left: 0;
        width: 95%;

        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    body .homeSecond .oneThird blockquote{ margin-top: 20px; }
    body .oneThird {
        display: block;
        margin: 5px;
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    body .homeSecond .oneThird p{ font-size: 20px; }
    body a.projects{
        margin: 20px auto 5px;
        width: 95%;
    }
    body footer{ text-align: center; }
    body footer .left{ display: none; }
    body footer .middle, body footer .right{ width: 95%; }
    body footer .middle h4{ text-align: center; }
    body footer .right ul{ padding: 10px; }
    body footer .right li{
        display: inline-block;
        margin: 8px;
    }
    body footer .subFooter .wrapper a {
        display: block;
        position: inherit;
        margin-top: 10px;
        width: 100%;
    }
    body footer .subFooter > *{
        display: block;
        font-size: 30px;
        text-align: center;
    }
    body .blogSide, body.blog .blogContent{
        display: block;
        width: 100%;
    }
    body .blogContent img.post{ max-width: 100%; }
    body.blog div.blogFleur{
        background-position: center;
        width: 100%;
    }
    body .blogSide{
        margin: 0;
        padding: 5px;
    }
    body .blogSide section.social h4.green{
        display: inline;
        margin-right: 25px;
        margin-top: 0;
        vertical-align: middle;
    }
    body.blog .wrapper .blogSide section.social a{ vertical-align: middle; }
    body.blog .wrapper .blogSide section a{
        font-size: 18px;
        margin: 5px;
    }
    body .aboutFirst .left{
        display: block;
        text-align: center;
    }
    body .aboutFirst .left img{ width: 35%; }
    body .aboutFirst .left img:hover {
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    body .aboutFirst .right h1{
        font-size: 55px;
        text-align: center;
    }
    body .aboutFirst .right{
        height: auto;
        margin: 0;
        padding: 5px;
        width: 100%;
    }
    body .aboutFirst { margin: 25px auto 0; }
    body .aboutFirst .right p{
        font-size: 23px;
        letter-spacing: normal;
    }
    body .aboutFirst .right a{
        box-shadow: none;
        margin: 20px 0 35px;
        width: 100%;

        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    }
    body .aboutFirst .right a:hover{
        box-shadow: none;
        color: #fff;
        margin: 20px 0 35px;

        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    }
    body h2.topTab{
        font-size: 27px;
        padding: 0;
        width: 160px;
    }
    body .darkSecond .wrapper section .left{
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }
    body .darkSecond .wrapper section{
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 18px;
    }
    body .darkSecond .wrapper section .right{
        display: block;
        margin: 51px auto 0;
    }
    body .darkSecond .wrapper section h4{
        border-bottom: dotted 8px #555;
        margin: auto auto 25px;
        padding-bottom: 8px;
    }
    body .darkSecond .wrapper section h4:after{ display: none; }
    body.works .wrapper div.worksTop h2{
        display: block;
        font-size: 70px;
        text-align: center;
    }
    body.works div.worksTop{ padding: 20px 0; }
    body.works .worksTop p.worksInfo{
        float: none;
        margin-bottom: 25px;
        padding: 5px;
        width: 100%;
    }
    body div.worksTop ul{ display: none; }
    body div.worksTop ul li a{ font-size: 22px; }
    body .darkSecond{ padding: 0; }
    body .darkSecond h4{
        font-size: 25px;
        padding-top: 25px;
        text-align: center;
    }
    body ul.worksList{ text-align: center; }
    body ul.worksList li{
        min-width: 205px;
        text-align: left;
        width: 46%;
    }
    body ul.worksList li div{
        width: 100%;
        text-align: center;
    }
    body ul.worksList li img{
        width: 100%;
    }
    body ul.worksList li div a{
        position: relative;
        left: 0; bottom: 0;
        margin-top: 15px;
    }
    body div#colorbox{ width: 100%; }
    body .ss-form-question.left, body .ss-form-question.right{
        display: block;
        width: 100%;
    }
    body.contact form{
        width: 100%;
    }
    body .contact input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }
    body.project.works .wrapper div.worksTop h2{
        font-size: 30px;
        text-shadow: none;
    }
    body.project.works div.worksTop p.worksInfo{
        font-size: 16px;
        width: 100%;
    }
    body.project.works .darkSecond .wrapper{
        padding-bottom: 20px;
    }
    body .ss-q-other{ width: 80%; }
}
@media only screen and (min-width : 768px) and (max-width : 959px){
    body header{ width: 100%; }
    body .wrapper, body .innerHeader{ width: 100%; }
    body div.mainTitle{ width: auto; }
    body div.mainTitle h1 a {
        font-size: 37px;
        margin-left: 85px;
    }
    body div.mainTitle h1 a:before{
        content:"";
        background-image: url(../img/logo.png);
        width: 70px;
        height: 70px;
        background-size: 70px;
        background-repeat: no-repeat;
    }
    body .homeFirst{ text-align: center; }
    body .homeFirst .left{
        width: auto;
        margin-right: 10px;
    }
    body .homeFirst .left span:first-of-type{
        font-size: 70px;
        line-height: 35px;
    }
    body .homeFirst .left span {font-size: 61px; }
    body .homeFirst .right p { width: 355px; }
    body .homeFirst .right p span{
        font-size: 26px;
        padding: 3px 15px 3px 5px;
    }
    body .oneThird.aboutMe{
        width: 60%;
        display: inline-block;
        margin-left: 2%;
    }
    body .oneThird.middle{
        float: right;
        width: 35%;
    }
    body .homeSecond .oneThird img{
        max-width: 85%;
    }
    body .oneThird.skills{
        display: block;
        width: 100%
    }
    body .oneThird.skills div{
        width: 29%;
        display: inline-block;
        margin: auto 1.5%;
        vertical-align: top;
    }
    body .oneThird.skills div h3{
        font-size: 20px;
    }
    body footer .left, body footer .middle, body footer .right{ width: 30%; }
    body.blog .blogContent{ width: 67%; }
    body.blog .blogSide h3{ font-size: 60px; }
    body .blogContent img.post { max-width:100%; }
    body .blogSide{ width: 29%; }
    body .aboutFirst{ margin: 45px auto 0;}
    body .aboutFirst .left{ width: 28%; }
    body .aboutFirst .left img{ width: 100%; }
    body .aboutFirst .right{ width: 60%; }
    body .aboutFirst .right h1 {font-size: 87px;}
    body .darkSecond .wrapper section .left{ width: 65%;}
    body .darkSecond .wrapper section .right{
        width: 30%;
        margin-left: 1%;
    }
    body.works .wrapper div.worksTop h2{
        font-size: 100px;
        text-align: center;
        width: 60%;
    }
    body.works div.worksTop p.worksInfo{
        display: inline-block;
        float: none;
        font-size: 16px;
        padding: 0;
        width: 35%;
    }
    body ul.worksList li{
        width: 30.9%;
        margin: 1%;
    }
    body ul.worksList li div{
        width: 100%;
        text-align: center;
    }
    body ul.worksList li img{
        width: 100%;
    }
    body ul.worksList li div a{
        position: relative;
        left: 0; bottom: 0;
        margin-top: 15px;
    }
    body.works.project .wrapper div.worksTop h2, body.works.project div.worksTop p.worksInfo{ width: 100%; }
    body.works.project div.worksTop p.worksInfo{ font-size: 19px; }
    body .ss-q-other{ width: 80%; }
}
/*-----------------------------------------------------------------------------*/
a, a:hover{
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
body { font-family: Tahoma, sans-serif; background-color: #080808; }
body.homepage {
    background-image: url(../img/homeBG.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}
header {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 60px;
}
header nav {
    font-family: 'Oswald', sans-serif;
    float: right;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav ul {
    margin: 15px auto;
    position: relative;
}
header nav ul li {
    display: inline;
    padding-right: 26px;
}
header nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}
header nav ul li a i{
    display: none;
}
header nav ul li a:hover { color: #fff }
#magic-line {
    background: #e6451c;
    height: 3px;
    padding: 0;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100px;
}
.wrapper, .innerHeader {
    margin: 0 auto;
    padding: 0 5px;
    width: 960px;
}
div.mainTitle h1 a:before {
    content: url(../img/logo.png);
    position: absolute;
    left: 0;
}
div.mainTitle h1 a.nologo{
    margin-left: 0;
}
div.mainTitle h1 a.nologo:before{
    content:"";
    display: none;
}
div.mainTitle {
    width: 430px;
    margin: 0;
    float: left;
    position: relative;
}
div.mainTitle h1 a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 55px;
    margin-left: 100px;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}
div#content { width: 960px }
.homeFirst {
    color: #fff;
    margin: 75px auto;
}
.homeFirst .left {
    display: inline-block;
    width: 460px;
    font-family: 'Oswald', sans-serif;
}
.homeFirst .left span {
    display: block;
    font-size: 69px;
    font-weight: 300;
    letter-spacing: -3px;
    text-transform: uppercase;
}
.homeFirst .left span:first-of-type {
    font-size: 80px;
    font-weight: 400;
    line-height: 45px;
}
.homeFirst .right { display: inline-block }
.homeFirst .right p { width: 480px }
.homeFirst .right p span {
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 35px;
    margin: 2px;
    padding: 6px 15px 6px 5px;
}
.homeFirst div.sep{
    background-image: url(../img/sep.png);
    background-repeat: no-repeat;
    clear: both;
    width: 418px;
    height: 33px;
    margin: 25px auto;
    padding: 0;
}
a.ribbonCTA {
    background-color: #2da5bb;
    color: #fff;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 400;
    height: 51px;
    margin: 60px auto 115px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 280px;
}
a.ribbonCTA:hover {
    background-color: #3BBCD4;
    color: #fff;
}
.ribbonCTA:before, .ribbonCTA:after {
    content: "";
    position: absolute;
    display: block;
    top: -10px;
    border: 23px solid #158093;
    z-index: -1;
}
.ribbonCTA:before {
    left: -73px;
    border-right-width: 60px;
    border-left-color: transparent;
}
.ribbonCTA:after {
    right: -73px;
    border-left-width: 60px;
    border-right-color: transparent;
}
.ribbonCTA span:before, .ribbonCTA span:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    top: -10px;
}
.ribbonCTA span:before { border-color: transparent transparent #194d56 transparent }
.ribbonCTA span:after { border-color: transparent transparent #194d56 transparent }
.ribbonCTA span:before {
    left: 0;
    border-width: 0 0 10px 10px;
}
.ribbonCTA span:after {
    right: 0;
    border-width: 0 10px 10px 0;
}
.homeSecond {
    width: 100%;
    background-color: #fff;
    padding: 10px 0 20px;
}
.oneThird {
    float: left;
    margin: 5px;
    padding: 3px;
    width: 304px;
}
.homeSecond .oneThird {
    color: #383838;
    position: relative;
}
.homeSecond .oneThird p {
    color: #7c7c7c;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 8px;
}
.oneThird.aboutMe h2, .oneThird h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
}
.oneThird.aboutMe h2 { font-size: 33px }
.oneThird.aboutMe h2 i {
    color: #2da5bb;
    font-size: 38px;
    margin-right: 10px;
}
.homeSecond .oneThird h3 { font-size: 25px }
.homeSecond .oneThird h3 i {
    margin-right: 8px;
    font-size: 22px;
    vertical-align: 2px;
}
.homeSecond .oneThird.skills p { margin-bottom: 10px }
.homeSecond .oneThird img {
    border: solid 8px white;
    border-bottom-width: 28px;
    box-shadow: 2px 2px 8px #999;
    position: absolute;
    left: 11%;
    top: -50px;
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
}
.homeSecond .oneThird blockquote {
    color: #2da5bb;
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin-top: 240px;
    padding: 0 10px;
}
.homeSecond .oneThird span {
    color: #2da5bb;
    display: block;
    font-size: 16px;
    margin-right: 20px;
    text-align: right;
}
a.projects {
    background-color: #2da5bb;
    color: #fff;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin: 20px auto;
    padding: 5px 24px 5px 10px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    width: 132px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
a.projects i {
    font-size: 40px;
    font-style: normal;
    position: absolute;
    top: 0;
    right: -3px;
    text-shadow: -2px -2px 0 #2da5bb, 2px -2px 0 #2da5bb, -2px 2px 0 #2da5bb, 3px 1px 0 #2da5bb;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-transition: all ease-in-out 0.1s;
       -moz-transition: all ease-in-out 0.1s;
        -ms-transition: all ease-in-out 0.1s;
         -o-transition: all ease-in-out 0.1s;
            transition: all ease-in-out 0.1s;
}
a.projects:hover {
    background-color: #3CB4C9;
    -webkit-transition: all ease-in-out 0.1s;
       -moz-transition: all ease-in-out 0.1s;
        -ms-transition: all ease-in-out 0.1s;
         -o-transition: all ease-in-out 0.1s;
            transition: all ease-in-out 0.1s;
}
a.projects:hover i {
	font-size: 45px;
    text-shadow: -2px -2px 0 #3CB4C9, 2px -2px 0 #3CB4C9, -2px 2px 0 #3CB4C9, 3px 1px 0 #3CB4C9;
    top: 3px;
    -webkit-transition: all ease-in-out 0.1s;
       -moz-transition: all ease-in-out 0.1s;
        -ms-transition: all ease-in-out 0.1s;
         -o-transition: all ease-in-out 0.1s;
            transition: all ease-in-out 0.1s;
    -webkit-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
         -o-transform: rotate(10deg);
            transform: rotate(10deg);
}
/* ABOUT ME DESIGN */
/*=================*/
body.about {
    background-image: url(../img/aboutBG.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}
.aboutFirst {
    color: #fff;
    margin: 75px auto 0;
}
.aboutFirst .left, .aboutFirst .right{
    display: inline-block;
    vertical-align: top;
}
.aboutFirst .left img:hover{
    -webkit-transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.9s;
       -moz-transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.9s;
        -ms-transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.9s;
         -o-transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.9s;
            transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.9s;
}
.aboutFirst .left img{
    -webkit-transition: all ease-in-out 0.3s;
       -moz-transition: all ease-in-out 0.3s;
        -ms-transition: all ease-in-out 0.3s;
         -o-transition: all ease-in-out 0.3s;
            transition: all ease-in-out 0.3s;
}
.aboutFirst .left img:hover{
    -webkit-transform-origin:60% 70%;
       -moz-transform-origin:60% 70%;
        -ms-transform-origin:60% 70%;
         -o-transform-origin:60% 70%;
            transform-origin:60% 70%;
    -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
.aboutFirst .right{
    height: 500px;
    margin: 10px 30px 0;
    width: 600px;
}
.aboutFirst .right p{
    font-size: 27px;
    text-shadow: 0px 1px 0 #97B9CF;
    color: #173E57;
}
.aboutFirst .right h1{
    font-family: 'Raleway', sans-serif;
    font-size: 114px;
    font-weight: 300;
    text-transform: uppercase;
}
.aboutFirst h1, .aboutFirst p{
    font-family: Tahoma, sans-serif;
    letter-spacing: 3px;
}
.aboutFirst .right a{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #B21212;
    border-bottom: solid 1px #000;
    border-radius: 5px;
    border-top: solid 1px #777;
    box-shadow: 0 2px 1px rgba(0,0,0,0.5);
    color: #eee;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#56534c',GradientType=0 ); /* IE6-9 */
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin: 30px 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    width: 400px;
}
.aboutFirst .right a:hover{
    color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    margin: 27px 0 3px;
    -webkit-transition: all ease-in-out 0.1s;
       -moz-transition: all ease-in-out 0.1s;
        -ms-transition: all ease-in-out 0.1s;
         -o-transition: all ease-in-out 0.1s;
            transition: all ease-in-out 0.1s;
}
h2.topTab{
    background-color: #222;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    height:40px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: 180px;
}
h2.topTab:before{
    border-color: transparent transparent #222 transparent;
    border-style: solid;
    border-width: 0 0 40px 60px;
    content: "";
    height: 0px;
    left: -60px;
    position: absolute;
    width: 0px;
}
h2.topTab:after{
    border-color: transparent transparent transparent #222;
    border-style: solid;
    border-width: 40px 0 0 60px;
    content: "";
    height: 0px;
    position: absolute;
    right: -60px;
    width: 0px;
}
.darkSecond{
    background-color: #222;
    width: 100%;
    padding: 30px 0;
}
.darkSecond .wrapper section{
    margin-top: 35px;
    margin-bottom: 25px;
}
.darkSecond .wrapper section .left, .darkSecond .wrapper section .right{
    display: inline-block;
    vertical-align: top;
}
.darkSecond .wrapper section .left{
    margin-right: 15px;
    width: 610px;
}
.darkSecond .wrapper section .right{
    background-color: #333;
    background-repeat: no-repeat;
    margin-top: 51px;
    padding: 10px 10px 0;
    width: 320px;
}
.darkSecond .wrapper section .right img{
    border: solid 5px #666;
}
.darkSecond .wrapper section .right h5{
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 1px 0 #555;
}
.darkSecond h4{
    color: #ddd;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    margin: 0 auto 20px 10px;
}
.darkSecond .audio h4, .darkSecond .video h4{
    margin-top: 30px;
}
.darkSecond h4 i{
    font-size: 30px;
    margin-right: 10px;
}
.darkSecond .wrapper section h4{
    margin-bottom: 45px;
}
.darkSecond .wrapper section h4:after{
    color: #555;
    content: ".....................................";
    font-family: Tahoma, Verdana;
    font-size: 60px;
    letter-spacing: -1px;
    position: absolute;
    right: -13px;
    text-shadow: 7px 7px 0 #333;
    top: 0;
}
.darkSecond .wrapper section p{
    color: #ccc;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 12px;
}
.darkSecond .wrapper section p a{
    color: #e6451c;
    text-decoration: none;
}
/* WORKS PAGE DESIGN */
/*===================*/
body.works, body.project {
    background-image: url(../img/worksBG.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}
.works div.worksTop{
    padding: 75px 0;
}
div.worksTop ul li{
    display: inline;
    padding: 20px 27px 20px 0;
}
div.worksTop ul li a{
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
}
div.worksTop li a:hover{
    color: #222;
    text-shadow: -1px 1px 0 rgba(255,255,255,0.2);
}
div.worksTop ul li span{
    font-size: 28px;
    margin-right: 3px;
}
body.works div.worksTop h2{
    color: #303942;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 120px;
    font-weight: 500;
    text-shadow: -1px 1px 0 rgba(255,255,255,0.5);
}
body.works p.worksInfo{
    color: #eee;
    float: right;
    font-size: 19px;
    line-height: 1.8;
    padding: 15px 0;
    vertical-align: top;
    width: 360px;
}
body.works p.worksInfo a{
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 #555;
}
ul.worksList li{
    background-color: #111;
    border: solid 1px #111;
    display: inline-block;
    height: 205px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 205px;
    vertical-align: top;
}
ul.worksList li div{
    background-color: rgba(0,0,0,0.85);
    height: 205px;
    position: absolute;
    top: 174px;
    width: 205px;
    z-index: 10;

    -webkit-transition: all ease-in-out 0.4s;
       -moz-transition: all ease-in-out 0.4s;
        -ms-transition: all ease-in-out 0.4s;
         -o-transition: all ease-in-out 0.4s;
            transition: all ease-in-out 0.4s;
}
ul.worksList li div p{
    color: #fff;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 15px;
    padding: 10px;
}
ul.worksList li div a{
    bottom: 5px;
    color: #5AB5ED;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    left: 11%;
    position: absolute;
    text-decoration: none;
}
ul.worksList li div a:hover{
    color: #8DCBF0;
}
ul.worksList li:hover div{
    top: 0;

    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
ul.worksList li div h5{
    font-family: 'Oswald', sans-serif;
    color: #ddd;
    text-align: center;
    font-size: 20px;
}
ul.worksList li img{
    position: absolute;
    z-index: 1;
}
ul.worksList li .icon-link-2, ul.worksList li .icon-youtube{
    margin-right: 5px;
}
ul.worksList li .icon-link-2{
    font-size: 22px;
}
ul.worksList li .icon-youtube{
    font-size: 28px;
}
/* PROJECT PAGE DESIGN */
/*=====================*/
body.project.works div.worksTop{
    padding: 20px 0;
}
body.project.works div.worksTop h2{
    font-size: 60px;
    display: block;
    text-align: center;
}
body.project.works p.worksInfo{
    display: block;
    float: none;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
body.project.works p.worksInfo {
    padding: 15px;
}
body.project.works a img{
    text-align: center;
    border: solid 4px;
}
img.img850{
    width: 850px;
    margin: 0 auto;
    display: block;
}
body.project.works .darkSecond p{
    color: #ddd;
    letter-spacing: 0.1em;
    line-height: 17px;
    font-size: 14px;
    margin: 25px 50px;
}
body.project.works .darkSecond a{
    color: #e6451c;
    text-decoration: none;
}
ul.worksList li img.ytPreview{
    max-width: none;
    max-height: 100%;
}
body.project.works .darkSecond h4{
    color: #ccc;
    font-size: 20px;
    margin: 25px 50px;
}
body.project.works .darkSecond .projectCTA{
    background-color: #dd1111;
    border-top: solid 1px #dd5555;
    color: #eee;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
    width: 270px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
body.project.works .darkSecond .projectCTA:hover{
    box-shadow: 0 0 20px #000;
}
/* CONTACT PAGE DESIGN */
/*=====================*/
body.contact{
    background-image: url(../img/contactBG.jpg);
    background-repeat: no-repeat;
    color: #bcbcbc;
}
body.contact h2{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
}
.ss-q-title{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
}
#ss-form{
    display: inline-block;
}
.ss-secondary-text{
    font-size: 16px;
    font-family: Georgia, serif;
    font-style: italic;
    padding-bottom: 15px;
}
.ss-q-short{
    background-color: #333;
    border: none;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 10px;
    padding: 3px;
    width: 100%;
}
.ss-q-short:hover, .ss-q-other:hover{
    background-color: #444;
}
.ss-q-other{
    background-color: #333;
    border: none;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    line-height: 35px;
    margin-left: 8px;
    padding: 3px;
    vertical-align: top;
}
.ss-choice-item{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
}
.contact input[type="checkbox"] {
    height: 35px;
    width: 35px;
}
.contact input[type="checkbox"]:checked .ss-choice-label{
    color: red;
}
.contact .ss-navigate .ss-form-entry[dir="ltr"]{
    text-align: center;
}
.contact #ss-submit{
    display: inline-block;
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    background-color: #999;
    border: none;
    padding: 10px 15px;
    color: #444;
    text-shadow: 0 1px #aaa;
    margin: 18px 0;
}
.ss-form-question.left, .ss-form-question.right{
    vertical-align: top;
    display: inline-block;
    width: 47%;
    padding: 5%;
}
.contact header{
    background-color: rgba(0,0,0,0.2);
}
.contact small{
    display: block;
    text-align: center;
    font-family: Georgia,serif;
    font-size: 16px;
    font-style: italic;
}
/* BLOG DESIGN */
/*=============*/
body.blog{
    background-color: #131718;
    background-image: url(../img/blogBG.jpg);
    background-repeat: no-repeat;
    color: #ccc;
}
.blog .wrapper{
    margin-top: 50px;
}
.blog .blogContent{
    width: 600px;
    background-color: #131717;
    padding: 10px;
}
body.blog .blogWrap a{
    color: #e6451c;
    text-decoration: none;
}
body.blog .blogWrap a:hover{
    color: #fff;
}
.blog div.blogFleur {
    background-image: url(../img/sep.png);
    background-repeat: no-repeat;
    clear: both;
    width: 418px;
    height: 33px;
    margin: 0 auto;
    padding: 0;
}
.blogContent div.post{
    padding: 5px 0 15px;
    border-bottom: 3px dotted #626262;
}
.blogContent h2{
    color: #fff;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    letter-spacing: 0.04em;
    text-align: center;
}
.blogContent small.blogDate{
    color: #7abc88;
    display: block;
    font-family: Georgia, serif;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}
.blogContent img.post{
    max-width: 565px;
    border: solid 5px #fff;
    display: block;
    margin: 10px auto 20px;
}
.blogContent img.post.noborder{
    border: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}
.blogContent p{
    color: #ccc;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.3em;
    margin: auto 5px 10px;
}
span.blogSubtext{
    display: block;
    color: #989898;
    font-size: 14px;
    margin: 20px 0 0;
    text-align: right;
}
.blogSide{
    margin-left: 20px;
}
.blog .blogSide h3{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 78px;
    line-height: 78px;
}
.blogSide, .blogContent{
    display: inline-block;
    vertical-align: top;
    width: 290px;
}
.blogSide .green, body.blog div.wrapper div.blogSide a.green{
    color: #7abc88;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 8px 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}
body.blog div.wrapper div.blogSide a.green:hover{
    color: #fff;
}
.blogSide section{
    border-bottom: 3px dotted #626262;
    padding: 10px 0;
}
.blogSide section.about{padding: 0;}
body.blog div.wrapper div.blogSide section.about a.green{ margin: 8px 0;}
.blog .blogWrap .category{
    background-color: #7abc88;
    color: #21502b;
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #8ada9b;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
body.blog .wrapper.blogWrap a.category:hover{
    background-color: #e6451c;
    text-shadow: none;
}
body.blog .blogSide section a{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.blog pre{
    margin: 20px 0;
     font-size: 15px;
}
body.blog a.viewAll{
    display: block;
    padding: 8px;
    background-color: #555;
    border-top: solid 2px #888;
    border-bottom: solid 2px #888;
    color: #eee;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin: 18px auto;
}
.blog.allblogs .blogContent h2{
    font-size: 22px;
}
.blog.allblogs .blogContent span.blogSubtext, .blog.allblogs .blogContent h2, .blog.allblogs .blogContent .blogDate{
    text-align: left;
}
body.blog .blogSide section.social a{
    display: inline-block;
    font-size: 35px;
    margin-right: 8px;
}
body.blog .blogSide section.social a.gp{color:#dd4b39;}
body.blog .blogSide section.social a.fb{color:#3b5998;}
body.blog .blogSide section.social a.tw{color:#00a0d1;}
body.blog .blogSide section.social a.li{color:#007bb6;}
body.blog .blogSide section.social a.gp:hover,
body.blog .blogSide section.social a.fb:hover, 
body.blog .blogSide section.social a.tw:hover, 
body.blog .blogSide section.social a.li:hover{color: #fff;}
.blogContent ul{
    list-style: square;
    margin: 28px;
    font-size: 18px;
}
.blogContent ul li{
    margin: 5px;
}
.blogContent #disqus_thread{
    margin-top: 20px;
}
a.blogComments{
    display: block;
    font-size: 16px;
    margin: 20px 8px;
}
a.blogComments.all{
    margin: 10px 2px;
}
/* FOOTER DESIGN */
/*===============*/

footer{
	background-color: #111;
    border-top: solid 8px #333;
	color: #ccc;
	width: 100%;
}
footer .left, footer .middle, footer .right{
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    width: 313px;
}

footer .left{
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
footer .left ul li{
	margin: 15px auto;
}
footer .left ul li a{
	color: #ccc;
	font-size: 30px;
	text-decoration: none;
}
footer .left ul li a:hover{
	color: #fff;
    text-shadow: 1px 1px 0 #000;
}
footer .left ul li i{
	margin-right: 12px;
	-webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
footer .left ul li a:hover i{
	color: #2da5bb;
    text-shadow: 2px 2px 0 #000;
	-webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
footer h4{
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}
footer p{
    font-family: Tahoma, sans-serif;
    font-size: 17px;
}
footer .right{
    padding: 0;
}
footer .right ul{
    padding: 15px 15px 15px 135px;
}
footer .right li{
    font-size: 30px;
    line-height: 50px;
}
footer .right li i{
    margin-right: 12px;
}
footer .right a{
    color: inherit;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
footer .right a:hover{
    color: #fff;
}
footer .right a:hover .icon-google-plus-sign, 
footer .right a:hover .icon-github, 
footer .right a:hover .icon-twitter, 
footer .right a:hover .icon-linkedin-sign,
footer .right a:hover .icon-youtube,
footer .right a:hover{
    text-shadow: 0 2px 0 #000;
}
footer .right a:hover .icon-google-plus-sign, 
footer .right a:hover .icon-github, 
footer .right a:hover .icon-twitter, 
footer .right a:hover .icon-linkedin-sign,
footer .right a:hover .icon-youtube,
footer .right a:hover{
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
footer .right a .icon-google-plus-sign, 
footer .right a .icon-github, 
footer .right a .icon-twitter, 
footer .right a .icon-linkedin-sign,
footer .right a .icon-youtube,
footer .right a{
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
}
footer .right a:hover .icon-google-plus-sign{
    color: #dd4b39;
}
footer .right a:hover .icon-github{
    color: #4183c4;
}
footer .right a:hover .icon-twitter{
    color: #00a0d1;
}
footer .right a:hover .icon-linkedin-sign{
    color: #007bb6
}
footer .right a:hover .icon-youtube{
    color: #bb0000;
}
footer .subFooter{
	background-color: #080808;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 300;
	width: 100%;
}
footer .subFooter .wrapper{
    position: relative;
}
footer .subFooter .wrapper a{
    color: #ccc;
    position: absolute;
    right: 5px;
    top: 0;
    text-decoration: none;
}
footer .subFooter .wrapper a span{
    margin-left: 8px;
}