---
layout: default
title: Works
bodyclass: works
metatitle: Web Designs, Music, and Video
metadesc: Here are some examples of what I do. If you like what you see, please let me know!
---
<div class="wrapper">
  <div class="worksTop">
    <h2>My Work</h2>
    <p class="worksInfo">Here you will find a showcase of the things I've created, or helped to create. If you like what you see, feel free to <a href="/contact/">get a hold of me!</a></p>
    <ul>
      <li><a href="#"><span>></span>Graphic &amp; Web</a></li>
      <li><a href="#"><span>></span>Music &amp; Audio</a></li>
      <li><a href="#"><span>></span>Video</a></li>
      <li><a href="#"><span>></span>Misc</a></li>
    </ul>
  </div>
</div>
<h2 class="topTab">Projects</h2>
<div class="darkSecond">
  <div class="wrapper">
    <div class="graphics">
      <h4><i class="icon-desktop"></i>Graphic &amp; Web</h4>
      <ul class="worksList">{% for post in site.posts do %}
        {% if post.tags contains 'graphics' and post.categories contains 'works' %}
        <li>
          <div>
            <h5>{{ post.title }}</h5>
            <p>{{ post.desc }}</p>
            <a href="{{ post.url }}"><i class="icon-link-2"></i>View Project</a>
          </div>
          {% if post.post-image %}
          <img src="{{ site.url }}{{ post.post-image }}"/>
          {% endif %}
        </li>{% endif %}{% endfor %}
      </ul>
    </div>
    <div class="audio">
      <h4><i class="icon-equalizer"></i>Music &amp; Audio</h4>
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F6619767&amp;color=474747&amp;auto_play=false&amp;show_artwork=false"></iframe>
    </div>
  </div>
</div>