---
layout: default
title: Works
bodyclass: works
metatitle: Web Designs, Music, and Video
metadesc: Here are some examples of what I do. If you like what you see, please let me know!
---
<div class="wrapper">
  <div class="worksTop">
    <h2>My Work</h2>
    <p class="worksInfo">Here you will find a showcase of the things I've created, or helped to create. If you like what you see, feel free to <a href="/contact/">get a hold of me!</a></p>
    <ul>
      <li><a href="#"><span>></span>Graphic &amp; Web</a></li>
      <li><a href="#"><span>></span>Music &amp; Audio</a></li>
      <li><a href="#"><span>></span>Video</a></li>
      <li><a href="#"><span>></span>Misc</a></li>
    </ul>
  </div>
</div>
<h2 class="topTab">Projects</h2>
<div class="darkSecond">
  <div class="wrapper">
    <h4><i class="icon-desktop"></i>Graphic &amp; Web</h4>
    <ul class="worksList">{% for post in site.categories.works do %}
      <li>
        <div>
          <h5>{{ post.title }}</h5>
          <p>{{ post.desc }}</p>
          <a href="{{ post.url }}"><i class="icon-link-2"></i>View Project</a>
        </div>
        {% if post.post-image %}<img src="{{ site.url }}{{ post.post-image }}"/>{% endif %}
      </li>{% endfor %}
    </ul>
  </div>
</div>