---
layout: default
title: Works
bodyclass: works
metatitle: Web Designs, Music, and Video
metadesc: Here are some examples of what I do. If you like what you see, please let me know!
---
<div class="wrapper">
  <div class="worksTop">
    <h2>My Work</h2>
    <p class="worksInfo">Here you will find a showcase of the things I've created, or helped to create. If you like what you see, feel free to <a href="/contact/">get a hold of me!</a></p>
    <ul>
      <li><a href="#graphic-and-web" class="gfx" return="false"><span>></span>Graphic &amp; Web</a></li>
      <li><a href="#" class="music"><span>></span>Music &amp; Audio</a></li>
      <li><a href="#video" class="video"><span>></span>Video</a></li>
    </ul>
  </div>
</div>
<h2 class="topTab">Projects</h2>
<div class="darkSecond">
  <div class="wrapper">
    <div class="graphics" id="graphic-and-web">
      <h4><i class="icon-desktop"></i>Graphic &amp; Web Work</h4>
      <ul class="worksList">{% for post in site.categories.works do %}{% if post.tags contains "graphics" %}
        <li>
          <div>
            <h5>{{ post.title }}</h5>
            <p>{{ post.desc }}</p>
            <a href="{{ post.url }}"><i class="icon-link-2"></i>View Project</a>
          </div>{% if post.post-image %}
          <img src="{{ site.url }}{{ post.post-image }}"/>{% endif %}
        </li>{% endif %}{% endfor %}
      </ul>
    </div>
    <div class="audio" id="music-and-audio">
      <h4><i class="icon-equalizer"></i>Music &amp; Audio Work</h4>
        <iframe width="100%" height="465" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F6619767&amp;color=474747&amp;auto_play=false&amp;show_artwork=false"></iframe>
    </div>
    <div class="video" id="video">
      <h4><i class="icon-film"></i>Video Work</h4>
      <ul class="worksList">{% for post in site.categories.works do %}{% if post.tags contains "video" %}
        <li>
          <div>
            <h5>{{ post.title }}</h5>
            <p>{{ post.desc }}</p>
            <a class='gallery youtube' href='http://www.youtube.com/embed/{{ post.vidlink }}' title="{{ post.title }}"><i class="icon-youtube"></i>Watch Video</a>
          </div>
          <img src="http://img.youtube.com/vi/{{ post.vidlink }}/hqdefault.jpg" alt="" class="ytPreview">
        </li>{% endif %}{% endfor %}
      </ul>
    </div>
  </div>
</div>