---
layout: default
title: Terry Robb's Blog
bodyclass: blog allblogs
title: All posts by Terry Robb, Designer
metatitle: All Blog Posts
metadesc: A complete listing of Terrance Robb's Blog posts.
---
<div class="wrapper blogWrap">
	<div class="blogContent"><div class="blogFleur"></div>{% for post in site.categories.blog %}
		<div class="post">
			<a href="{{ site.url }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
			<small class="blogDate">Posted on {{ post.date | date: "%B %d, %Y" }}</small>
			<span class="blogSubtext"><a class="blogComments all" href="{{ site.url }}{{ post.url }}#disqus_thread">Comment</a>{% if post.tags %}<i class="icon-tags"></i> Categories: {% for tag in post.tags %}{% if tag == 'personal' or tag == 'web' or tag == 'graphic' or tag == 'sound' or tag == 'video' or tag == 'misc' %}<a class="category" href="/blog/{{ tag }}">{{ tag }} </a>{% else %}<span class="category">{{ tag }} </span>{% endif %}{% endfor %}{% endif %}</span>
		</div>{% endfor %}
	</div>
	{% include blogside.html %}
</div>