---
layout: default
title: Terry Robb's Blog
bodyclass: blog
title: Blog of Terry Robb, Designer
metatitle: Blog of Terry Robb, Designer
metadesc: Terrance Robb's Blog.
---
<div class="wrapper blogWrap">
	<div class="blogContent"><div class="blogFleur"></div>{% for post in site.categories.blog %}
	<div class="post">
		<h2>{{ post.title }}</h2>
		<small class="blogDate">Posted on {{ post.date | date: "%B %d, %Y" }}</small>
		{{ post.content }}
		{% if post.tags %}<span class="blogSubtext">Categories: {% for tag in post.tags %}<a class="category" href="#">{{ tag }} </a>{% endfor %}</span>{% endif %}
	</div>{% endfor %}
</div>
<div class="blogSide">
	<h3>MY BLOG</h3>
	<section>
		<a href="{{ site:url }}/about/" class="green">About The Author</a>
	</section>
	<section>
		<h4 class="green">Categories</h4>
		<a href="#" class="category">This</a>
		<a href="#" class="category">That</a>
		<a href="#" class="category">Another Thing</a>
		<a href="#" class="category">Design</a>
		<a href="#" class="category">HTML</a>
		<a href="#" class="category">Code</a>
	</section>
	<section>
		<h4 class="green">Recent Posts</h4>
		<a href="#">This is a test</a>
		<a href="#">Lorem Ipsum Title</a>
	</section>
</div>
</div>