{% include header.html %}
<div class="wrapper blogWrap">
	<div class="blogContent"><div class="blogFleur"></div>
	<div class="post">
		<a href="{{ site.url }}{{ page.url }}"><h2>{{ page.title }}</h2></a>
		<small class="blogDate">Posted on {{ page.date | date: "%B %d, %Y" }}</small>
		{{ page.content }}
		{% if page.tags %}<span class="blogSubtext"><i class="icon-tags"></i> Categories: {% for tag in page.tags %}{% if tag == 'personal' or tag == 'web' or tag == 'graphics' or tag == 'sound' or tag == 'video' or tag == 'misc' %}<a class="category" href="/blog/{{ tag }}">{{ tag }} </a>{% else %}<span class="category">{{ tag }} </span>{% endif %}{% endfor %}</span>{% endif %}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		var disqus_shortname = 'terrancerobb';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>
{% include blogside.html %}

</div>
{% include footer.html %}