{% include header.html %}
<div class="wrapper blogWrap">
	<div class="blogContent"><div class="blogFleur"></div>
		<div class="post">
			<a href="{{ site.url }}{{ page.url }}"><h2>{{ page.title }}</h2></a>
			<small class="blogDate">Posted on {{ page.date | date: "%B %d, %Y" }}</small>
			{{ page.content }}
			{% if page.tags %}<span class="blogSubtext"><i class="icon-tags"></i> Categories: {% for tag in page.tags %}{% if tag == 'personal' or tag == 'web' or tag == 'graphic' or tag == 'sound' or tag == 'video' or tag == 'misc' %}<a class="category" href="/blog/{{ tag }}">{{ tag }} </a>{% else %}<span class="category">{{ tag }} </span>{% endif %}{% endfor %}</span>{% endif %}
		</div>
	</div>
	{% include blogside.html %}
</div>
{% include footer.html %}